@model FinalDiploma.Models.DishEntry

@{
    ViewBag.Title = "Delete";
}

<h3>Ви дійсно бажаєте видалити продукт "@Html.DisplayFor(model => model.Product.Name)" зі страви "@Html.DisplayFor(model => model.Dish.Name)"?</h3>
<div>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
