@model FinalDiploma.Models.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Ви дійсно бажаєте видалити категорію @Model.Name?</h2>
<div>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("Повернутись до списку", "Index")
        </div>
    }
</div>
