@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url(../../background.jpg); /* Цвет фона и путь к файлу */
        margin-right: 0%;
        color: #fff;
    }
</style>
<div class="jumbotron">
    <div style="color: #000000;">
        <div class="row">
            <div class="col-md-4">
                <h2>Меню</h2>
                <p>
                   Страви з різних кухонь світу, від австралійскьої до японської, та не тільки - Ви можете замовити у нашому ресторані.
                </p>
                <p><a class="btn btn-default" href="~/Dishes">Дізнатись більше &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Стан столиків</h2>
                <p>З відстеженням стану столиків не виникне ситуацій марного відвідування закладу, через занятість столів.</p>
                <p><a class="btn btn-default" href="~/Tabls/StateOfTables">Дізнатись більше &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Про нас</h2>
                <p>Загальна інформація</p>
                <p><a class="btn btn-default" href="~/Home/About">Дізнатись більше &raquo;</a></p>
            </div>
        </div>
    </div>
</div>